@import "@andreasphil/design-system/style.css" layer(base);
@import "@andreasphil/command-bar/style.css" layer(components);
@import "@andreasphil/textarea2/style.css" layer(components);
@import "@fontsource-variable/fira-code" layer(base);

@import "./components/item.css";
@import "./components/itemCard.css";
@import "./components/layout.css";
@import "./views/board.css";
@import "./views/pages.css";
@import "./views/settings.css";

/* Theme customization --------------------------------- */

@layer theme {
  :root {
    --body-padding-x: 0rem;
    --body-padding-y: 0rem;
    --body-width: auto;
    --font-family-mono: "Fira Code Variable", ui-monospace, monospace;
    --font-size-h1: var(--font-size);
    --font-size-h2: var(--font-size);
    --font-size: 14px;
    --on-primary: var(--neutral-700);
    --theme-primary: 85% 0.14 var(--theme-tint);
    --theme-tint: 87;
  }
}

/* Additional global stuff ----------------------------- */

body {
  min-width: 640px;
}

aside nav button {
  justify-content: start;
  width: 100%;
}

article {
  min-height: calc(100dvh - calc(2 * var(--outer-spacing-y)));
}

:is(h1, h2, h3, h4, h5, h6) {
  --outer-spacing-y: 0;
}

[data-tooltip]::after {
  font-family: var(--font-family);
}

/* Textarea2 ------------------------------------------- */

.editor {
  caret-color: var(--primary);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mono);
  margin: auto;
  max-width: 50rem;

  menu {
    margin: 0.25rem 0 0 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
  }
}
