@scope (.itemCard) {
  :scope {
    background: var(--c-surface-bg);
    border-radius: var(--border-radius);
    border: var(--border-width-large) solid transparent;
    box-shadow: var(--shadow-elevation-medium);
    list-style-type: none;
    margin: 0;
    overflow-wrap: break-word;
    padding: 0.75rem 1rem;
    transition: var(--transition);
    transition-property: background-color, border-color;
  }

  &:hover {
    border-color: var(--primary);
    cursor: grab;
  }

  .pageName {
    --c-link: var(--c-fg-variant);

    display: inline-block;
    font-size: var(--font-size-small);
    margin-top: 0.5rem;
  }
}
