@scope (.item) {
  :scope {
    --item-bg: oklch(from currentColor l c h / 7%);
    --red: oklch(65% 0.2 15);

    font: inherit;
    margin: 0;
    padding: 0;

    &,
    * {
      transition: var(--transition);
      transition-property: background-color, color;
    }

    /* Top level item types -------------------------------- */

    &.heading {
      color: var(--c-fg);
      font-weight: var(--font-weight-bold);
    }

    &.task:has(.status.completed) {
      color: var(--c-fg-variant);
    }
  }

  /* Token types ----------------------------------------- */

  .status {
    all: unset;
    border-radius: 0.25rem;
    cursor: pointer;
    pointer-events: initial;
    transition: var(--transition);
    transition-property: background-color;

    &:hover {
      background-color: var(--item-bg);
    }

    &.important {
      color: var(--red);
    }

    &.important,
    &.inProgress,
    &.question {
      font-weight: var(--font-weight-bold);
    }
  }

  .dueDate {
    background-color: var(--item-bg);
    border-radius: 0.25rem;
    color: var(--c-fg-variant);
    cursor: help;
    pointer-events: initial;
    position: relative;
    white-space: nowrap;

    &.today {
      color: var(--red);
    }
  }

  .tag {
    background-color: var(--item-bg);
    border-radius: 0.25rem;
    color: var(--c-fg-variant);
    position: relative;
    white-space: nowrap;
  }

  .link {
    --c-link: var(--primary);
    --c-link-hover: var(--c-fg);

    pointer-events: initial;

    .task:has(.completed) & {
      --c-link: var(--c-fg-variant);
    }
  }
}
