@import "finecss/dist/index.min.css" layer(fine);
@import "@fontsource/ia-writer-quattro/400.css";
@import "@fontsource/ia-writer-quattro/700.css";

/* -------------------------------------------------- *
 * Fine customizations                                *
 * -------------------------------------------------- */

@layer fine {
  :root {
    --body-width: auto;
    --body-padding-x: 0rem;
    --body-padding-y: 0rem;
    --nav-height: 4rem;
    --theme-tint: 43;
    --theme-primary: var(--theme-tint) 90% 65%;
    --font-size: 14px;
  }
}

/* -------------------------------------------------- *
 * Additional global stuff                            *
 * -------------------------------------------------- */

:root {
  --font-mono: "iA Writer Quattro", ui-monospace, monospace;

  --red: 350 90% 65%;
  --red-50: hsl(var(--red) / 0.075);
  --red-100: hsl(var(--red) / 0.18);
  --red-200: hsl(var(--red) / 0.4);
  --red-300: hsl(var(--red) / 0.6);
  --red-400: hsl(var(--red) / 0.7);
  --red-500: hsl(var(--red) / 1);

  --indigo: 240 90% 70%;
  --indigo-50: hsl(var(--indigo) / 0.075);
  --indigo-100: hsl(var(--indigo) / 0.18);
  --indigo-200: hsl(var(--indigo) / 0.4);
  --indigo-300: hsl(var(--indigo) / 0.6);
  --indigo-400: hsl(var(--indigo) / 0.7);
  --indigo-500: hsl(var(--indigo) / 1);
}

body {
  min-width: 640px;
}

nav a {
  text-decoration: none;
}

nav a[data-active="true"] {
  background: var(--c-surface-variant-bg);
  text-decoration: none;
}

nav a:has(svg) {
  align-items: center;
  display: flex;
  gap: 0.375rem;
}

/* -------------------------------------------------- *
 * Utilities                                          *
 * -------------------------------------------------- */

.text-c-variant {
  color: var(--c-fg-variant);
}

.mr-auto {
  margin-right: auto;
}
