@import "@andreasphil/design-system/style.css" layer(theme);
@import "@andreasphil/vue-command-bar/style.css";
@import "@andreasphil/vue-textarea2/style.css";
@import "@fontsource-variable/fira-code";

/* -------------------------------------------------- *
 * Theme customizations                                *
 * -------------------------------------------------- */

@layer theme {
  :root {
    --body-padding-x: 0rem;
    --body-padding-y: 0rem;
    --body-width: auto;
    --font-family-mono: "Fira Code Variable", ui-monospace, monospace;
    --font-size-mono: 0.95em;
    --font-size: 14px;
    --on-primary: var(--neutral-700);
    --theme-primary: var(--theme-tint) 90% 65%;
    --theme-tint: 43;
  }
}

/* -------------------------------------------------- *
 * Additional global stuff                            *
 * -------------------------------------------------- */

:root {
  --red: 350 90% 65%;
  --red-50: hsl(var(--red) / 0.075);
  --red-100: hsl(var(--red) / 0.18);
  --red-200: hsl(var(--red) / 0.4);
  --red-300: hsl(var(--red) / 0.6);
  --red-400: hsl(var(--red) / 0.7);
  --red-500: hsl(var(--red) / 1);
}

body {
  min-width: 640px;
}

nav a {
  text-decoration: none;

  &[data-active="true"] {
    background: var(--c-surface-variant-bg);
    text-decoration: none;
  }
}

[data-tooltip] {
  position: relative;

  &::after {
    background: var(--c-fg);
    border-radius: var(--border-radius-small);
    color: var(--c-bg);
    content: attr(data-tooltip);
    display: block;
    font-size: var(--font-size-small);
    left: 50%;
    opacity: 0;
    padding: 0.125rem 0.375rem;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: var(--transition);
    transition-property: translate, opacity;
    translate: -50% -100%;
    white-space: nowrap;
  }

  &:hover::after {
    translate: -50% calc(-100% - 0.125rem);
    opacity: 1;
  }
}

/* -------------------------------------------------- *
 * Utilities                                          *
 * -------------------------------------------------- */

.text-c-variant {
  color: var(--c-fg-variant);
}

.text-mono {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-mono);
}
